* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

/* header  */
header {
    background-color: #ffffff;
    padding: 20px 10px;
}

.logo {
    vertical-align: middle;
}

.title {
    display: inline-block;
    vertical-align: middle;
}

/* /header  */
/* top section  */
.container {
    background-color: #ffffff;
    max-width: 800px;
    margin: 50px auto;
}

.buttons {
    padding: 20px 0 10px 50px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
}

.task-button {
    background-color: #14aaf5;
    color: #ffffff;
}

.section-button {
    background-color: transparent;
    border: 1px solid #c4cbd0;
    color: #c4cbd0;
}

hr {
    border: 2px solid #f6f8f9;
}

/* /top section  */
.new-section {
    padding: 20px 50px;
}

.new-section h3:before {
    content: "\25BC";
    font-size: 13px;
}

.task {
    padding: 10px 0 0 5px;
}

/* done + to-do circles  */
.done {
    border: 2px solid #49ceb7;
    color: #49ceb7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
}

.to-do {
    border: 2px solid #ff4242;
    color: #ff4242;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
}

/* /done + to-do circles  */

.task-name {
    display: inline-block;
    padding: 5px;
}

/* side tags  */
.task-tag {
    display: inline-block;
    padding: 8px 13px;
    border-radius: 15px;
    color: #ffffff;
}

.blue-tag {
    background-color: #09a9ed;
}

.purple-tag {
    background-color: #ab5de6;
}

.green-tag {
    background-color: #2cc6ab;
}

.orange-tag {
    background-color: #ff9b00;
}

.pink-tag {
    background-color: #ec4a9d;
}

.yellow-green-tag {
    background-color: #a3d116;
}

/* /side tags  */